[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/foundry-upgrades"]
	path = lib/foundry-upgrades
	url = https://github.com/odyslam/foundry-upgrades
[submodule "lib/evmgateway"]
	path = lib/evmgateway
	url = https://github.com/ensdomains/evmgateway
