[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "namebase-dsld/lib/forge-std"]
	path = namebase-dsld/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
